<div class="container">
  <div class="mt-5">
    <section class="mt-4">
      <h4>Add location</h4>
      <form [formGroup]="locationForm" (ngSubmit)="addPlace()">
        <div class="form-group">
          <input type="email" class="form-control" formControlName="location"
                 [ngClass]="{'is-invalid': (locationForm.get('location').invalid && locationForm.get('location').dirty) || error?.notFound}"
                 id="location" name="location" aria-describedby="emailHelp" placeholder="Enter location">
          <div class="invalid-feedback" *ngIf="locationForm.get('location').invalid && locationForm.get('location').dirty">
            Field is required
          </div>
          <div class="invalid-feedback" *ngIf="error?.notFound">
            Not found
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="locationForm.invalid">Add</button>
      </form>
    </section>

    <section class="mt-4">
      <h4>Map</h4>
      <div id="map" class="mt-4">
        <div class="d-flex align-items-center justify-content-center loader-container">
          <img src="../../../assets/images/loader.gif" alt="loader" width="50" height="50">
        </div>
      </div>
    </section>

    <section class="mt-4">
      <div class="mt-4">
        <h4>History</h4>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of places; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td (click)="showPlace(i)">{{ p.name }} <br> ({{ p.address }})</td>
            <td class="align-middle">
              <a href="{{ p.link }}" target="_blank">Link to Google Maps</a>
            </td>
            <td class="align-middle">
              <button type="button" class="btn btn-danger" (click)="removePlace(i)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

