<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Application
  </a>
</nav>