/* You can add global styles to this file, and also import other style files */
#map, .loader-container {
  width: 100%;
  height: 300px;
}
table td {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

